/*** ESSENTIAL STYLES ***/
#aktif{
	background-color:#4355B7;
	color:white;
}
.sf-menu { margin-left:-28px; }
.sf-menu, .sf-menu * {
	list-style: none;
	margin-top:-5px;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 999;
	margin-top:6px;
}
.sf-menu > li {
	float: left;
	border-right:1px solid white;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	float: left;
}
.sf-menu ul {
	min-width: 4em; /* allow long menu items to determine submenu width */
	*width: 4em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	padding:6px;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.sf-menu a {
	color:white;
	font-size:14px;
	text-align:left;
}
.sf-menu li {
	color:white;
	padding:8px;

	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul li {
	background-color:#2F8FC6;
	border-bottom:1px solid #FFE387;
	padding:10px;
}

.sf-menu ul ul li {
	background: #9AAEDB;
	z-index:999;
}
.sf-menu li.sfHover {
	background-color:#FFE993;
}

.sf-menu li:hover{
	background-color:#4355B7;
	color:white;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 34px;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	margin-left:10px;
	position: absolute;
	top: 50%;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
