
#wrapper{
	width:100%;
	margin:0 auto;
}
#vertical-ticker{
	height:234px;
	overflow:hidden;
	margin:0; padding:0;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0, .4);
}

#vertical-ticker li{
	padding:6px 4px 6px 14px;
	display:block;
	background:#efefef;
	color:#333;
	border-bottom:1px solid #3CF;
	text-align:left;
	font-size:14px;
	font-weight:bold;
}