
#wrapper{
	width:100%;
	margin:0 auto;
}
#vertical-ticker{
	height:394px;
	overflow:hidden;
	margin:0; padding:0;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0, .4);
}

#vertical-ticker li{
	height:80px;
	padding:10px 10px 8px 14px;
	display:block;
	background:#FFF;
	color:#333;
	border-bottom:1px solid #0C3;
	text-align:left;
	font-size:14px;
	font-weight:bold;
}