.full-header #logo {
    padding: 30px 20px !important;
}

.full-header.sticky-header #logo {
    padding: 12px 20px !important;
}
#primary-menu > ul > li > a {
    font-size: 14px !important;
}
.form-book {
    background-color: white !important;
    padding: 15px 30px;
    margin-top: 15px;
}
.form-book h2 {
    color: black !important;
}
.form-book label, .form-book select, .form-book small {
    color: black !important;
}
.form-book select {
    background-color: white !important;
}

a.tour-list:hover {
    text-decoration: none
}
.tour-list,
.tour-list img.gambar {
    width: 100%
}

a.tour-list {
    color: #000
}

.tour-label {
    width: 100%;
    margin-top: -40px;
    z-index: 4;
    position: relative;
    color: #000;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0,0,0,0.3);
    color: white;
}

.tour-label img.panah {
    margin-left: 20px
}

.tour-label img.panah:hover {
    left: -4px;
    position: relative;
    text-align: right
}

.keterangan {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 7px;
    width: 95.9%
}

.keterangan .judul {
    color: #fff;
    font-size: 10.5px;
    float: left;
    padding: 10px 0 10px 8px
}

.keterangan .detail {
    background-color: #079FD8;
    color: #fff;
    font-size: 10px;
    float: right;
    padding: 12px 8px
}

.kategori-list a {
    color: black !important;
    font-size: 14px;
    text-transform: uppercase;
}
.kategori-list a:hover {
    color: #18BC9B !important;
}

.boat-item-wrapper {
    padding: 0px 10px !important;
}
.boat-item {
    border: 2px solid rgba(1, 87, 155, 0.3);
    border-bottom: 3px solid rgba(1, 87, 155, 0.3);
    border-radius: 6px;
    text-align: center;
    display: block !important;
}
.boat-item img {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 10px;
}
.boat-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.boat-list {
    margin: 0 !important;
}
.boat-list > a {
    display: block;
    border: 2px solid rgba(1, 87, 155, 0.3);
    border-bottom: 3px solid rgba(1, 87, 155, 0.3);
    text-align: center;
    border-radius: 6px;
}
.boat-list h4 {
    background-color: #01579b !important;
    color: white;
    padding: 8px 2px;
    margin-bottom: 0 !important;
}

a.button {
    color: white !important;
}


.form-booking input {
    background-color: white !important;
}

.boat-list-search h3 {
    font-size: 20px;
    margin: 0;
}
.boat-list-search ul {
    padding-left: 20px;
}
.boat-list-search .boat-price {
    font-size: 22px;
    text-align: center;
    color: #F38415;
}
.boat-list-search .button {
    color: white;
}

.boat-short-desc ul {
    margin-left: 15px;
}

#list-destination, #list-departure {
    list-style-type: none !important;
    padding-left: 0 !important;
}
.disable-destination {
    background-color: rgba(255,255,255,0.8);
    height: 180px;
    width: 100%;
    position: absolute;
    z-index: 100;
}

.wrapper-button-book {
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 4px 20px;
    width: 220px;
}

.help-block {
    padding-top: 0px;
    color: red;
}

.swiper-slide {
    background-image: url('images/wallpaper-fast-boat.jpg');
    background-position: center;
    height: 1300px !important;
}





/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (min-width: 0px) {
    .slider-element {
        height: 600px !important;
    }
    .swiper-slide {
        height: 650px !important;
    }
}

@media (min-width: 576px) {
    .slider-element {
        height: 500px !important;
    }
    .swiper-slide {
        height: 500px !important;
    }
}

@media (min-width: 768px) {
    .slider-element {
        height: 520px !important;
    }
    .swiper-slide {
        height: 520px !important;
    }
}

@media (min-width: 992px) {
    .slider-element {
        height: 600px  !important;;
    }
    .swiper-slide {
        height: 650px !important;
    }
}

@media (min-width: 1200px) {
    .slider-element {
        height: 500px !important;;
    }
    .swiper-slide {
        height: 550px !important;
    }
}