
#logo a.standard-logo {
    display: block;
    padding-top: 31px;
    padding-bottom: 31px
}

.full-header.sticky-header #logo a.standard-logo {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
}
.slider-caption h2 {
    text-shadow: rgba(0,0,0,1) 1px 0 10px;
}
.box-shadow {
    box-shadow: 0 0 3px red;
}
.bottompadding-sm {
    padding-bottom: 25px;
}

.content-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
}
.fbox-desc {
    border: 1px solid rgba(0,0,0,0.08);
    border-top:none;
    padding: 0 10px 10px 10px;
    border-radius: 0 0 4px 4px;
}
.fbox-desc h2 {
    font-size: 20px !important;
    margin: 0 !important;
    padding: 10px 0 0 0;
}
.fbox-desc p {
    padding-bottom: 10px;
}
.required:after {
    color: red;
    content: " *";
    font-size: 20px;
    font-weight: normal;
}
.help-block {
    color: red
}
a.button {
    cursor: pointer !important;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

