.jPages{
	list-style:none;
}



.holder {
	margin: 15px 0;
}

.holder a {
	font-size: 14px;
	cursor: pointer;
	color: white;
	border:1px solid #CCC;
	padding:10px 14px;
	background-color:#339A99;
}
.holder a:first-child{
	border-radius:4px 0 0 4px;
}
.holder a:last-child{
	border-radius:0 4px 4px 0;
}

.holder a:hover {
	background-color: #428BCA;
	color: white;
}

.holder a.jp-previous { margin-right: 0px; }
.holder a.jp-next { margin-left: 0px; }

.holder a.jp-current, a.jp-current:hover { 
	color: white;
	text-decoration:underline;
	font-weight:bold;
	font-size:18px;
	background-color:#4FC6C4;
}

.holder a.jp-current{
	background-color:#4FC6C4;
}
.holder a.jp-disabled, a.jp-disabled:hover {
	color: white;
	background-color:#4FC6C4;}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
	background-color:#4FC6C4;
}

.holder span { margin: 0 5px; }


