.ul-check {
    list-style-image: url('../img/user/check.png');
  }
  .ul-check li, .ul-cross li {
    padding: 8px 0;
    float: left;
    width: 50%; 
  }
  .ul-cross {
    list-style-image: url('../img/user/cross.png');
  }
  .img-remark {
    position: static;
    z-index: 10000000;
  }