@charset "utf-8";
/* CSS Document */

#batas{
	height:35px;
}
#admin a{
	color:black;
	text-decoration:none;
}
#admin{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	height:34px;
	border-bottom:2px solid #DADADA;
	position:fixed;
	width:100%;
	box-shadow:0px 0px 6px black;
	font-size:14px;
	z-index:200;
	
background: #3fa2d7;
background: -moz-linear-gradient(top,  #3fa2d7 0%, #1f72ab 73%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3fa2d7), color-stop(73%,#1f72ab));
background: -webkit-linear-gradient(top,  #3fa2d7 0%,#1f72ab 73%);
background: -o-linear-gradient(top,  #3fa2d7 0%,#1f72ab 73%);
background: -ms-linear-gradient(top,  #3fa2d7 0%,#1f72ab 73%);
background: linear-gradient(to bottom,  #3fa2d7 0%,#1f72ab 73%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fa2d7', endColorstr='#1f72ab',GradientType=0 );
}
#admin-menu{
	border-bottom:2px solid #666;
	border-left:2px solid #666;
	border-radius:0 0 0 30px;
	color:white;
	text-align:center;
	float:right;
	background-color:black;
}
#admin-nama{
	padding:7px 12px 7px 24px;
	border-right:2px solid #666;
	border-radius:0 0 0 30px;
	float:left;
	letter-spacing:1px;
	cursor:pointer;
	
background: #57d6d6;
background: -moz-linear-gradient(top,  #57d6d6 0%, #2da7b7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57d6d6), color-stop(100%,#2da7b7));
background: -webkit-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -o-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -ms-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: linear-gradient(to bottom,  #57d6d6 0%,#2da7b7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57d6d6', endColorstr='#2da7b7',GradientType=0 );

}
#admin-logout{
	padding:7px 12px 7px 12px;
	float:left;
	
background: #e86177;
background: -moz-linear-gradient(top,  #e86177 0%, #bc272a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e86177), color-stop(100%,#bc272a));
background: -webkit-linear-gradient(top,  #e86177 0%,#bc272a 100%);
background: -o-linear-gradient(top,  #e86177 0%,#bc272a 100%);
background: -ms-linear-gradient(top,  #e86177 0%,#bc272a 100%);
background: linear-gradient(to bottom,  #e86177 0%,#bc272a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e86177', endColorstr='#bc272a',GradientType=0 );
}
#admin-logout:hover{
	background: #f98e99;
background: -moz-linear-gradient(top,  #f98e99 0%, #e23b40 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f98e99), color-stop(100%,#e23b40));
background: -webkit-linear-gradient(top,  #f98e99 0%,#e23b40 100%);
background: -o-linear-gradient(top,  #f98e99 0%,#e23b40 100%);
background: -ms-linear-gradient(top,  #f98e99 0%,#e23b40 100%);
background: linear-gradient(to bottom,  #f98e99 0%,#e23b40 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f98e99', endColorstr='#e23b40',GradientType=0 );

}
#admin-logout:active{
	box-shadow:inset 0px 0px 3px black;
}
#admin-edit{
	border-right:2px solid #EAEAEA;
	border-left:2px solid white;
	padding:10px 24px 10px 24px;
	float:left;
	text-align:center;
	
background: #57d6d6;
background: -moz-linear-gradient(top,  #57d6d6 0%, #2da7b7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57d6d6), color-stop(100%,#2da7b7));
background: -webkit-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -o-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -ms-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: linear-gradient(to bottom,  #57d6d6 0%,#2da7b7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57d6d6', endColorstr='#2da7b7',GradientType=0 );
}
#admin-edit:hover{
	
background: #29c9db;
background: -moz-linear-gradient(top,  #29c9db 0%, #61dced 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29c9db), color-stop(100%,#61dced));
background: -webkit-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: -o-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: -ms-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: linear-gradient(to bottom,  #29c9db 0%,#61dced 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29c9db', endColorstr='#61dced',GradientType=0 );
}
#admin-edit:active{
	box-shadow:inset 0px 0px 3px black;
}