@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:"Font Tulis";
	src:url(../font/AriaScriptSSK-Regular.ttf);
}
@font-face{
	font-family: "Field Login";
	src:url(../font/BOD12OW.TTF);
}
@font-face{
	font-family: "Judul";
	src:url(../font/Kavoon-Regular.ttf);
}
@font-face{
	font-family: "Judul-Atas";
	src:url(../font/PRISTINA.TTF);
}
body{
	background-image:url(../images/system/background_pattern.png);
	margin: 0;
	padding: 0;
}

a{
	color:#666;
	
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

}
a:hover{
	color:#33FF33;
}

#judul-utama{
	width:100%;
	height:40px;
	font-family:"Judul-Atas";
	font-size:22px;
	text-align:center;
	letter-spacing:2px;
	border-bottom:1px solid #56D5D5;
	box-shadow:1px 3px 6px #B2B2B2;
	color:white;
	
background: #57d6d6;
background: -moz-linear-gradient(top,  #57d6d6 0%, #2da7b7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57d6d6), color-stop(100%,#2da7b7));
background: -webkit-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -o-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -ms-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: linear-gradient(to bottom,  #57d6d6 0%,#2da7b7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57d6d6', endColorstr='#2da7b7',GradientType=0 );
}
#judul-utama-isi{
	padding-top:8px
}

#bingkai{
	width:400px;
	margin:auto;
	box-shadow:1px 3px 6px #999999;
	border-radius:5px 5px 12px 12px;
}

#judul{
	font-family:"Judul";
	text-align:center;
	font-size:27px;
	letter-spacing:3px;
	padding:10px 0 10px 0;
	border:1px solid #0A9FAF;
	border-radius:5px 5px 0 0;
	width:100%;
	color:#F5F5F5;
	text-shadow: 1px 1px 1px black;
	
background: #57d6d6;
background: -moz-linear-gradient(top,  #57d6d6 0%, #2da7b7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57d6d6), color-stop(100%,#2da7b7));
background: -webkit-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -o-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -ms-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: linear-gradient(to bottom,  #57d6d6 0%,#2da7b7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57d6d6', endColorstr='#2da7b7',GradientType=0 );

}
#judul-akhir{
	
	border-radius:0 0 12px 12px;
	height:8px;
	width:100%;
	border:1px solid #0A9FAF;
	border-top:none;
	
background: #57d6d6;
background: -moz-linear-gradient(top,  #57d6d6 0%, #2da7b7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57d6d6), color-stop(100%,#2da7b7));
background: -webkit-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -o-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -ms-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: linear-gradient(to bottom,  #57d6d6 0%,#2da7b7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57d6d6', endColorstr='#2da7b7',GradientType=0 );
}

#login{
	width:100%;/*
	box-shadow:0px 0px 6px #999;*/
	border:1px solid #D6D6D6;
	padding:36px 0px 36px 0px;
	font-size:30px;
	color:#666;
	font-family:"Font Tulis";
	background-color:#FFFFFF;
}
#bersih{
	clear:both;
}
input[type="text"], input[type="password"]{
	border:1px solid #CCC;
	width:300px;
	height:40px;
	border-radius:3px 3px 3px 3px;
	font-family:MyFirstFont;
	font-size:24px;
	padding:0 5px 0 5px;
	background-color:#F7F7F7;
	
	
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

}

input[type="text"]:hover, input[type="password"]:hover{
	-webkit-box-shadow:0 0 4px #95EFFF;
	   -moz-box-shadow:0 0 4px #95EFFF;
	  	    box-shadow:0 0 4px #95EFFF;
				border:1px solid #3CF;
}

input[type="text"]:focus, input[type="password"]:focus{
	-webkit-box-shadow:0 0 4px #95EFFF;
	   -moz-box-shadow:0 0 4px #95EFFF;
	  	    box-shadow:0 0 4px #95EFFF;
	border:1px solid #3CF;
	background-color:white;
}

#input_error{
	border:1px solid #FF6464;
	box-shadow:0 0 4px #FF9595;
	width:263px;
	height:40px;
	border-radius:3px 3px 3px 3px;
	font-family:MyFirstFont;
	font-size:24px;
	padding:0 5px 0 42px;
	background-color:#FDD;
}

#input_error:focus{
	background-color:white;
}

#notif_error{
	margin-top:-16px;
	color:#790000;
	font-size:20px;
	font-family:"Field Login";
}

#tombol-2{
	border:1px solid #0A9FAF;
	padding:6px 12px 6px 12px;
	border-radius:3px 3px 3px 3px;
	color:white;
	cursor:pointer;
	font-family:"Judul";
	font-size:16px;
	letter-spacing:2px;	
text-shadow: 1px 1px 1px black;
	
background: #57d6d6;
background: -moz-linear-gradient(top,  #57d6d6 0%, #2da7b7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57d6d6), color-stop(100%,#2da7b7));
background: -webkit-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -o-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -ms-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: linear-gradient(to bottom,  #57d6d6 0%,#2da7b7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57d6d6', endColorstr='#2da7b7',GradientType=0 );

transition:background-color .3s linear

}
#tombol-2:hover{
	
text-shadow: 1px 1px 1px black;

background: #29c9db;
background: -moz-linear-gradient(top,  #29c9db 0%, #61dced 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29c9db), color-stop(100%,#61dced));
background: -webkit-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: -o-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: -ms-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: linear-gradient(to bottom,  #29c9db 0%,#61dced 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29c9db', endColorstr='#61dced',GradientType=0 );

}
#tombol-2:active{
	position:relative;
	top:1px;
}

input.usr{
	background-image:url(../images/system/usr.png);
	background-repeat:no-repeat;
	padding-left:42px;
	width:260px;
	background-position:6px 7px;
	
}
input.psw{
	background-image:url(../images/system/psw.png);
	background-repeat:no-repeat;
	padding-left:42px;
	width:260px;
	background-position:6px 7px;
}

#author{
	margin-top:16px;
	font-family:"Judul";
	font-size:14px;
}

#author a{
	text-decoration:none;
}
