@font-face {
    font-family: Arial;
    src: url("../font/arial.ttf");
}
@font-face {
    font-family: "Bookman Old Style";
    src: url("../font/BOOKOS.TTF");
}
@font-face {
    font-family: "Caflisch";
    src: url("../font/Caflisch Script Pro Regular.ttf");
}

.header {
    background-image: url('../template/images/header.jpg');
    background-size: cover;
    width: 100%;
    height: 107px;
    font-family: "Arial";
    border-bottom: 1px solid rgba(0,0,0,0.4);
}
.header.desktop .navbar {
    background: none;
    border: none;
    margin: 76px 60px 0 0;
}
.header.desktop .navbar-nav > li > a {
    font-family: Arial !important;
    font-weight: bold;
    font-size: 12px;
    color: black;
    padding: 0px;
    border-right: 2px solid black;
    padding: 0px 12px;
}
.header.desktop .navbar li:last-child > a {
    border: none;
}
.header.desktop .dropdown-menu {
    margin-top: 11px;
    border:none;
    box-shadow: none;
    background-color: #E2D9DA;
    border-radius: 0;
    padding: 0;
}
.header.desktop .dropdown-menu li:last-child {
    border-bottom: none;
}
.header.desktop .dropdown-menu li {
    border-bottom: 1px solid black;
}
.header.desktop .dropdown-menu li a {
    padding: 6px 10px 6px 20px;
    background: url("../template/images/arrow.png") no-repeat;
    background-position: 10px 11px;
}

.navbar-toggle.collapsed {
    border-color: black;
    background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.carousel.slide {
    margin-top: 20px
}
.right.carousel-control, .left.carousel-control {
    opacity: 1;
}
.right.carousel-control img, .left.carousel-control img {
    margin-top: 60%;
}

.content {
    margin-top: 15px;
    margin-bottom: 15px;
}
.content h1.detail {
    color: #003396;
    font-size: 28px;
    font-family: "Bookman Old Style";
    margin-bottom: 0;
    margin-top: 30px;
}

.boat-list {
    color: #0E1856;
}
.boat-item {
    padding: 10px;
}
.boat-item > .row {
    border: 1px solid rgba(0,0,0,0.5);
    padding: 2px;
    width: 100%;
    margin-left: 0px;
}
.boat-item > div > div {
    padding: 0;
}
.boat-info h3 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}
.boat-info h3 a {
    color: #0E1856 !important;
}
.boat-info {
    padding: 2px 10px !important;
    color: #0E1856 !important;
}
.boat-info .col-xs-4, .boat-info .col-xs-8 {
    margin-bottom: 1px;
}
.boat-info .btn {
    background-color: #0E1856;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 6px;
}

.footer {
    background-color: #137FC7;
    color: white;
    padding-top: 15px;
    padding-bottom: 50px;
}
.footer .btn-warning {
    background-color: #FB8D00;
    padding-left: 30px;
    padding-right: 30px;
}
.footer-images {
    padding-top: 15px;
    padding-bottom: 15px;
}
.office {
    font-weight: bold;
    font-size: 18px;
    padding: 16px 10px 10px 6px;
}
.yellow {
    color: #E6F520;
}
.nomer-hp {
    font-family: "Caflisch";
    font-size: 30px;
}
.nomer-hp:first-child {
    margin-bottom: -16px;
    margin-top: -8px;
}

.detail-inquiry {
    background-color: #137FC7;
    color:white;
}
.detail-inquiry label {
    font-weight: lighter;
    font-size: 12px;
}
.detail-inquiry h3 {
    color: white;
}
.detail-inquiry .form-control {
    border-radius: 0;
    border: none;
    height: 30px;
}
.detail-inquiry textarea.form-control {
    min-height: 60px;
    max-height: 400px;
}
.detail-inquiry button {
    background-color: rgba(0,0,0,0);
    color: white;
}

.row.content-detail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row.content-detail > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.form-error {
    color: #ffa3a3;
}
.required {
    color: red
}

@media (min-width: 0px) {
    .content-detail .col-md-9 {
        padding: 0 !important;
    }
    .content h1.detail {
        margin-top: -14px !important;
        margin-bottom: 4px;
    }
    .header.desktop {
        display: none;
    }
}
@media (min-width: 768px) {
    .header.desktop {
        display: block;
    }
    .content h1.detail {
        margin-top: -14px !important;
        margin-bottom: 4px;
    }
    .navbar-mobile {
        display: block;
    }
    .navbar-desktop {
        display: none !important;
    }
    .content h1.detail {
        margin-top: -14px !important;
        margin-bottom: 15px;
    }
}
@media (min-width: 992px) {
    .header.desktop {
        display: block;
    }
    .content h1.detail {
        margin-top: 4px !important;
        margin-bottom: 4px;
    }
    .label-boat-destination {
        margin-bottom: 8px;
    }
    .navbar-mobile {
        display: block;
    }
    .navbar-desktop {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .header.desktop {
        display: block;
    }
    .navbar-mobile {
        display: none;
    }
    .navbar-desktop {
        display: block !important;
    }
    .footer-images:nth-child(3) {
        padding-left: 44px;
    }
}

