@charset "utf-8";
/* CSS Document */


body{
	padding:0;
	margin:0;
	background-image:url(../images/system/background_pattern.png);
}
#container{
	width:400px;
	margin:auto;
	padding:20px;
	box-shadow:0 0 10px #CCCCCC;
	border-radius:8px;
	margin-top:80px;
	background-color:white;
}
#administrator{
	font-size:24px;
	font-weight:bold;
	margin-bottom:20px;
}
#form{
	background-color:#EEEEEE;
	padding:20px;
	border-radius:8px;
}
#input{
	border:4px solid #D6DADD;
	background-color:#D6DADD;
	border-radius:4px;
}
#input-error{
	color: #b94a48;
  	border-color: #b94a48;
	width:300px;
	border-radius:3px;
	
	-webkit-box-shadow:0 0 4px #FFE6E6;
	   -moz-box-shadow:0 0 4px #FFE6E6;
	   		box-shadow:0 0 4px #FFE6E6;
}

#input-error:focus{
border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
