.holder-departure {
	margin: 15px 0;
}

.holder-departure a {
	font-size: 12px;
	cursor: pointer;
	margin: 0 5px;
	color: #333;
}

.holder-departure a:hover {
	background-color: #222;
	color: #fff;
}

.holder-departure a.jp-previous { margin-right: 15px; }
.holder-departure a.jp-next { margin-left: 15px; }

.holder-departure a.jp-current, a.jp-current:hover { 
	color: #FF4242;
	font-weight: bold;
}

.holder-departure a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder-departure a.jp-current, a.jp-current:hover,
.holder-departure a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
}

.holder-departure span { margin: 0 5px; }



.holder-destination {
	margin: 15px 0;
}

.holder-destination a {
	font-size: 12px;
	cursor: pointer;
	margin: 0 5px;
	color: #333;
}

.holder-destination a:hover {
	background-color: #222;
	color: #fff;
}

.holder-destination a.jp-previous { margin-right: 15px; }
.holder-destination a.jp-next { margin-left: 15px; }

.holder-destination a.jp-current, a.jp-current:hover {
	color: #FF4242;
	font-weight: bold;
}

.holder-destination a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder-destination a.jp-current, a.jp-current:hover,
.holder-destination a.jp-disabled, a.jp-disabled:hover {
	cursor: default;
	background: none;
}

.holder-destination span { margin: 0 5px; }