/*
Author: Craig Erskine
Description: Dynamic Menu System - Vertical
*/

ul, li {  padding: 0;}

ul#navmenu-v {
 width: 100%; /* Menu Width */
 margin: 0;
 list-style: none;
}
ul#navmenu-v li,ul#navmenu-v ul{
 width: 240px; /* Menu Width */
 margin: 0;
 list-style: none;
}

ul#navmenu-v li { float: left; position: relative;  width: 100%; }
ul#navmenu-v li.iehover { z-index: 1000; /* IE z-index bugfix */ }

ul#navmenu-v ul {
 display: none;
 position: absolute;
 top: 0;
 left: 100%;
 z-index: 9999;
}

/* Root Menu */
ul#navmenu-v a {
 border-top: 1px solid #FFF;
 border-right: 2px solid #FFF;
 padding: 16px;
 display: block;
 color:#333;
 text-decoration: none;
 height: 1%;
 
background: #57d6d6;
background: -moz-linear-gradient(top,  #57d6d6 0%, #2da7b7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57d6d6), color-stop(100%,#2da7b7));
background: -webkit-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -o-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -ms-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: linear-gradient(to bottom,  #57d6d6 0%,#2da7b7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57d6d6', endColorstr='#2da7b7',GradientType=0 );


-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

}

/* Root Menu Hover Persistence */

ul#navmenu-v a:hover,ul#navmenu-v li:hover a,ul#navmenu-v li.iehover a {
color: black;
border-right:5px solid #FF5353;

background: #29c9db;
background: -moz-linear-gradient(top,  #29c9db 0%, #61dced 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29c9db), color-stop(100%,#61dced));
background: -webkit-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: -o-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: -ms-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: linear-gradient(to bottom,  #29c9db 0%,#61dced 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29c9db', endColorstr='#61dced',GradientType=0 );

}

/* 2nd Menu */
ul#navmenu-v li:hover li a,ul#navmenu-v li.iehover li a {
 float: none;
 color:#333;
 padding:10px;
 width: 260px;
 border-top:1px solid #CCC;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
border-bottom:2px solid #FFF;

background: #57d6d6;
background: -moz-linear-gradient(top,  #57d6d6 0%, #2da7b7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57d6d6), color-stop(100%,#2da7b7));
background: -webkit-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -o-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -ms-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: linear-gradient(to bottom,  #57d6d6 0%,#2da7b7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57d6d6', endColorstr='#2da7b7',GradientType=0 );

-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

}

/* 2nd Menu Hover Persistence */
ul#navmenu-v li:hover li a:hover,ul#navmenu-v li:hover li:hover a,ul#navmenu-v li.iehover li a:hover,ul#navmenu-v li.iehover li.iehover a {
border-bottom:2px solid #FF5353;
color: black;

background: #29c9db;
background: -moz-linear-gradient(top,  #29c9db 0%, #61dced 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29c9db), color-stop(100%,#61dced));
background: -webkit-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: -o-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: -ms-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: linear-gradient(to bottom,  #29c9db 0%,#61dced 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29c9db', endColorstr='#61dced',GradientType=0 );
}

/* 3rd Menu */
ul#navmenu-v li:hover li:hover li a,ul#navmenu-v li.iehover li.iehover li a {
 background: #E2F9DB;
 color:#333333;
}

/* 3rd Menu Hover Persistence */
ul#navmenu-v li:hover li:hover li a:hover,ul#navmenu-v li:hover li:hover li:hover a,ul#navmenu-v li.iehover li.iehover li a:hover,ul#navmenu-v li.iehover li.iehover li.iehover a {
 background: #666;
 color:white;
}

/* 4th Menu */
ul#navmenu-v li:hover li:hover li:hover li a,ul#navmenu-v li.iehover li.iehover li.iehover li a {
 background: #666;
}

/* 4th Menu Hover */
ul#navmenu-v li:hover li:hover li:hover li a:hover,ul#navmenu-v li.iehover li.iehover li.iehover li a:hover {
 background: #333;
}

/* Hover Function - Do Not Move */
ul#navmenu-v li:hover ul ul,ul#navmenu-v li:hover ul ul ul,ul#navmenu-v li.iehover ul ul,ul#navmenu-v li.iehover ul ul ul { display: none; }
ul#navmenu-v li:hover ul,ul#navmenu-v ul li:hover ul,ul#navmenu-v ul ul li:hover ul,ul#navmenu-v li.iehover ul,ul#navmenu-v ul li.iehover ul,ul#navmenu-v ul ul li.iehover ul { display: block; }

#penutup{
	border-radius:0 0 20px 20px;
	height:3px;
	box-shadow:0 3px 3px #999;
	
background: #57d6d6;
background: -moz-linear-gradient(top,  #57d6d6 0%, #2da7b7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57d6d6), color-stop(100%,#2da7b7));
background: -webkit-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -o-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -ms-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: linear-gradient(to bottom,  #57d6d6 0%,#2da7b7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57d6d6', endColorstr='#2da7b7',GradientType=0 );
}