
/* -- Examples -- */
/* line 177, ../sass/screen.sass */
.examples-section {
  text-align: center;
}

/* line 180, ../sass/screen.sass */
.image-row {
  *zoom: 1;
  margin-bottom: 20px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.image-row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 184, ../sass/screen.sass */
.example-image-link {
  display: inline-block;
  line-height: 0;
	text-align:center;
	width:50%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
/*  border: 4px solid #4A991A; */
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 191, ../sass/screen.sass */
.example-image-link:hover {
  border: 4px solid #ccccc;
}

/* line 194, ../sass/screen.sass */
.example-image {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

